<div class="register-container">

    <!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)"></form>       -->
    
    <div class="field">
        <label>Adres email:</label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>

    <div class="field">
        <label>Nazwa użytkownika:</label>
        <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Nazwa użytkownika" required>
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <label>Hasło</label>
        <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Hasło" required>
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        </p>
    </div>

    <div class="field">
        <label>Powtórz hasło</label>
        <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Powtórz hasło" required>
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        </p>
    </div>

    <div class="field is-grouped is-pulled-right">
        <div class="control">
            <button class="button is-success" type="submit">Rejestracja</button>
        </div>
    </div>
    <!-- </form> -->
  </div>