@import '../../../main-styles.scss';

body{
    display: flex;
    flex-direction: row;
}


.text-intro{
    max-width: auto;
    // padding:10px;
    align-self: left;
    margin-left: 120px;
    margin-right: 280px;
    text-align: start;
    text-indent:40px
    
    // p{
    //     text-align: justify;
    //     text-justify: inter-word;
    // }
}

.boxes{
    margin-top: 50px;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    
}
.box2{
    flex:0;
}

.boxes div{
    min-height: 100px;
    
}

.box{
    border: 1px #ccc solid;
    padding: 10px;
    width: 20%;
    box-shadow: 2px 2px 2px 2px rgba(black, 0.2);
    padding: 2%;

    h2{
        color: $warm-green;
        font-size:36px;
        font-weight: 600;
    }
}

.logo-bar{

    flex: 1;
    background: yellow;
}

.main-text-container{
    margin-bottom: 300px;
}

.main-container {
    flex: 10;
    margin-top: 50px;
    text-align: center;
    min-width: 250px;

    #mapid { 
        height: 400px;
        width: 800px;
        margin: auto;
        margin-bottom: 80px;
        box-shadow: 10px 10px 10px 15px rgba(black, 0.2);
        border-radius: 6px;
        
     }
}

.welcome-div{
    text-align: start;
    margin-left: 150px;
    margin-right: 250px;
    p{
        text-align: center;
    }
}

h1{
    color: darken($color: $warm-green, $amount: 2%);
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-shadow: rgb(226, 226, 203) 1px 0 10px;
}

.bullet-txt{
    margin-left: 235px;
    margin-right: 250px;
    text-align: left;
    font-weight: bolder;
    text-shadow: lighten($color: rgb(97, 102, 96), $amount: 10%) 1px 0 2px;
    
    ul{
        font-size: 30px;}

    li{
        position:relative;
    }
    li:before{
        
        content: "";
        position:absolute;
        top:18px;
        height: 12px;
        width: 12px;
        left: -35px;
        background-color: rgb(97, 102, 96);
        border-radius: 10px;
    }

}

