    <div class="main-container">

        <div class="intro">

            <div class="welcome-div">
                <h1>Witamy na stronie projektu.</h1>
            </div>
    
            <div class="text-intro">
                <p>
    
                    Od studentów dla studentów. Aplikacja Indeks tworzona jest z myślą o lepszej organizacji 
                związanych z uczelnią materiałów. Ma ona na celu umożliwić łatwe ich wyszukiwanie
                 oraz ułatwić życie studentom. Mamy w planach dalszy rozwój oraz pracę nad aplikacją, 
                 która mamy nadzieję doczeka stałego grona użytkowników, a jej bazy danych zapełnią
                 się wszelkiego rodzaju pomocami.
    
                </p><br>

                <!-- <p>

                    Indeks mogłoby sięstać doskonałym miejscem dla studentów którzy chcą się odpowiednio przygo-tować do zajęć przez przerabianie zadań z darmowej bazy wiedzy. Dla wykład-owców Indeks mógłby z jednej strony stać się inspiracją do kolejnych pytańegzaminacyjnych jak również miejscem, w którym mogliby udostępniać studen-tom treści do opracowania.
                    
                </p> -->
                
                
            </div>  

        </div>


                

        <div class="welcome-div">
            <br>
            <h1>Wykorzystywane technologie:</h1>
        </div>

        <div id="mapid"></div>

        <div class="boxes">


            <div class="box">                
                <img class="img-responsive" src="../../../assets/angular.png">
                <br>
                <h2>Angular</h2>
                <p>Budowa aplikacji od strony frontendowej została w pełni oparta
                    o framework angular oraz zawarte w nim narzędzia. Wykorzystane zostały
                    między innymi takie moduły jak flex layout, pozwalające 
                    na sprawne rozmieszczanie kontenerów, animacje obiektów
                    oraz webdev, pozwalający na potrzeby projektu łączenie się
                     z serwerem z innej domeny.
                     

                </p>

                
            </div>


            <div class="box">                
                <img class="img-responsive" src="../../../assets/Django.png"><br>
                <h2>Django</h2>
                <p>
                    Całością zarządza serwer napisany w języku Python, z wykorzystaniem framework’a DJango. Projekt serwera został podzielony na mniejsze aplikacje odpowiadające za wybrane fragmenty logiczne projektu. Całość została zbudowana w oparciu o budowę REST API, w dużym uproszczeniu oznacza to że serwer operuje na serializowanych danych z wykorzystaniem metod, PUT, GET, POST.
                </p>
            </div>
            


            <div class="box">                
                <img class="img-responsive" src="../../../assets/github.png"><br>
                <h2>Github</h2>
                <p>
                    GIT to to tak zwany system kontroli wersji, czyli w skrócie pozwala na (m.in.):
                    <br>- możliwość cofnięcia się (anulowania wprowadzonych zmian),
                    <br>- wersjonowanie plików (folderów, paczek),
                    <br>- koordynację pracy między wieloma osobami,
                    <br>- kontrolę i identyfikację wprowadzonych zmian,
                    w dużej mierze ułatwił nam pracę nad projektem.
                </p>
            </div>


            <div class="box2"></div>


        </div>

        <div class="welcome-div">
            <br><br><br><br>
            <h1>Dalsze kierunki rozwoju:</h1>            
        </div>
        <div class="bullet-txt">
            <ul>
                <li>Umożliwienie edycji treści dla użytkowników</li>
                <li>Umożliwienie łatwego umieszczania na forum różnego rodzaju treści, np. zdjęć</li>
                <li>Generowanie testów na podstawie wpisów do forum</li>
                <li>Uruchomienie forum dla innych wydziałów oraz uczelni</li>
            </ul>
        </div>
        

    
        <div class="main-text-container">
    
    
    
        </div>
    
        <footer>
            <span>Powered by Indeks team</span>
        </footer>
        
    
    
    
    </div>





