@import '../../../main-styles.scss';

.form-container{
    max-width: 500px;
    margin: auto;

    margin-top: 50px;

}

input, textarea {
    &.ng-invalid.ng-touched {
        // background-color: darken($color: $light-red, $amount: 15%);
        border-color: red;
        &:focus{
            box-shadow: 0px 0px 0px 2px rgba($color: red, $alpha: 0.1);
        }
        
    }
}