<div class="form-container">

    <form #topicForm="ngForm" (ngSubmit)="onSubmit(topicForm)">

        <div class="field">
            <label class="label">Tytuł</label>
            <div class="control">
                <input type="text" [ngModel]="topic.title" name="title" required class="input">
            </div>
        </div>

        <br>

        <div class="field">
            <label class="label">Opis</label>
            <div class="control">
                <textarea class="textarea" [ngModel]="topic.body" name="body"></textarea>
            </div>
        </div>
        

        <div class="field is-grouped is-pulled-right">
            <div class="control">
                <button class="button is-text" type="button" (click)="cancel()">Anuluj</button>
            </div>

            <div class="control">
                <button class="button is-success" type="submit" [disabled]="!topicForm.valid">Zapisz</button>
            </div>
        </div>

    </form>

</div>