@import '../../../main-styles.scss';

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 2%;
    @media(min-width: 1000px){
        margin-left: 25%;
    }

    max-width: 800px;

    padding-top: 2%; // lub np. 40px
    justify-content: center;

    .field-list{
        margin-top: 35px;
        margin-bottom: 140px;
    }

    app-field-box {
        display: block;
        margin-bottom: 10px;
    }

}

.title-container h1{
    text-shadow: darken($color: white, $amount: 15%) 1px 0 10px;
    font-size: 36px;
    font-weight: bold;
    color: $warm-green;
}
