<div class="main-container">
    <div class="title-container">
        <h1>Kierunki</h1>
    </div>

    
    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Szukaj">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
    </div>
    <div class="field-list">

        <app-field-box 
          *ngFor="let field of fields"  
          [pk]="field.pk" 
          [name]="field.name"
          [study_degree]="field.study_degree"
          [is_active]="field.is_active"
          [link_box]="field.pk+'/subjects'">          
        </app-field-box>

    </div>
</div>