  <div class="login-container">

        <div class="field">
            <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Nazwa użytkownika" required>
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Hasło" required>
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
            </p>
        </div>

        <div class="field is-grouped is-pulled-right">
            <div class="control">
                <button class="button is-success" type="submit">Zaloguj się</button>
            </div>
        </div>
        <br><p>Nie masz konta?</p>
        <div class="control">
            <button class="button is-text" type="button" (click)="redirectRegister()">Rejestracja</button>
        </div>
  </div>