@import '../../../main-styles.scss';

.main-container {
    display: flex;
    flex-direction: column;

    max-width: 500px;

    margin: auto;

    padding-top: 2%; // lub np. 40px
}

.topic-list{
    margin-top: 35px;
    margin-bottom: 140px;
}

app-topic-box {
    display: block;
    margin-bottom: 20px;
}

.floating-add-button{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 500px;
    border-radius: 0;

    box-shadow: 0px 0px 15px 5px rgba($color: $warm-green, $alpha: 0.2);

    height: 68px;
    font-size: 24px;
}