<div class="main-container">

    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" (keyup)="filter($event.target.value)" placeholder="Szukaj">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
    </div>

    <div class="topic-list">
        <app-topic-box 
          *ngFor="let topic of topics; index as index"
          [link_box]="index"      
          [title]="topic.title" 
          [body]="topic.body"
          (deleteTopic)="deleteTopic(index)">          
        </app-topic-box>
    </div>

    <button class="button floating-add-button is-primary" routerLink="new">+ Dodaj</button>
    
</div>