<H1>Test - pytania</H1>
{% if tests %}
    {% for test in tests %}
        <a href="{% url 'polytechnic:fieldsAll' %}" >{{ test.idTypeOfClasses.idTypeOfClasses.name }} : Numer testu : {{ test.numberTest }} : {{ test.idTypeOfTest.name }} : {{ test.description }}</a>
    {% endfor %}
{% else %}
    <p>No fields are available.</p>
{% endif %}
{% if quests %}
<ul>
{% for quest in quests %}
    <li><a href="#" >{{ quest.idTest.idTypeOfClasses.idTypeOfClasses.name }} : Pytanie : {{ quest.content }} : Stworzono : {{ quest.dtCreate }} : Edytowano : {{ quest.edited }} : {{ quest.dtEdit }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No fields are available.</p>
{% endif %}