<div class="main-container">
    <div class="title-container">
        <!-- <h1> {{parentField._class.subject.name}} - {{parentField._class.type}} </h1> -->
        <h1> {{childrenFields._class.subject.name}} - {{childrenFields._class.type}} </h1>
        <h2> {{childrenFields.type}} - {{childrenFields.number}}</h2>
    </div>

    
    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Szukaj">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
    </div>
    <div class="field-list">

        <app-subject-box 
          *ngFor="let question of childrenFields.questions"  
          [title]="'pytanie nr '+ question.test"
          [body]="question.content"
          >          
        </app-subject-box>
        <!-- <app-subject-box
          [title]="'Pytanie nr'+childrenFields.number"
          [body]="childrenFields.quests[0].content">
        </app-subject-box> -->



        <!-- [title]="'pytanie nr '+ field.number"
          [body]="field.quests.content" -->

    </div>


    <button class="button floating-add-button is-primary" routerLink="new">+ Dodaj</button>
    
</div>

