@import '../../../main-styles.scss';

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 2%;
    @media(min-width: 1000px){
        margin-left: 25%;
    }

    max-width: 800px;

    padding-top: 2%; // lub np. 40px
    justify-content: center;

    .field-list{
        margin-top: 35px;
        margin-bottom: 140px;
    }

// ============ zmienić na odpowiedni selektor ===============
    app-subject-box {
        display: block;
        margin-bottom: 10px;
    }

}

.title-container h1{
    text-shadow: darken($color: white, $amount: 15%) 1px 0 10px;
    font-size: 36px;
    font-weight: bold;
    color: $warm-green;
}
.title-container h2{
    text-shadow: darken($color: white, $amount: 15%) 1px 0 10px;
    font-size: 30px;
    font-weight: bold;
    color: $warm-green;
}

.floating-add-button{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 500px;
    border-radius: 0;

    box-shadow: 0px 0px 15px 5px rgba($color: $warm-green, $alpha: 0.2);

    height: 68px;
    font-size: 24px;
}
