<div class="main-container">
    <div class="title-container">
        <h1>{{parentField.subject.faculty.name}} ({{parentField.subject.faculty.study_degree}}) </h1>
        <h2> {{parentField.subject.name}} - {{parentField.type}} </h2>
    </div>

    
    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Szukaj">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
    </div>
    <div class="field-list">

        <app-subject-box 
          *ngFor="let field of childrenFields"  
          [title]="field.type+' - nr '+field.number"
          [body]="field.description"
          [link_box]="field.pk+'/'+field.type">          
        </app-subject-box>

    </div>
</div>

