/* 
    ***GLOBAL VARIABLES AND STYLES***
*/

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$warm-green: #82ca0d;
$light-green: #33c715;
$dark-green: #095516;

$light-red: #fff3f3;

$light: #fbfffa;




// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $warm-green;
$link: $dark-green;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5fa;
$input-shadow: none;


/* GLOBAL STYLES */

html, body {
    height: 100%;

    //default font size 18px
    font-size: 18px !important;

    // dont allow overflow
    overflow: hidden !important;
}

footer {
    background: #333;
    color: white;
    padding: 1em;
    text-align: start;
    vertical-align: top;
    padding-bottom: 200px;
    

    // margin-top: auto;
}