@import '../../../../main-styles.scss';

.field-box-container {
    position: relative;

    background: white;

    border-radius: 5px;

    box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
    transition: box-shadow 0.2s ease-out;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 4px rgba(black, 0.068);

        .x-button{
            opacity: 1;

            transition-delay: 0.3s;

            transform: scale(1);
        }
    }

    .field-box-content{
        padding: 25px;

        .field-box-title{
            font-size: 22px;
            font-weight: bold;
            color: lighten($color: black, $amount: 10%);
        }

    }
}
