<div #container class="field-box-container">
    <a [routerLink]="link_box">
        <div class="field-box-content">    
            <div class="field-box-title">
                <!-- <h1>{{ pk }} {{ name }} {{ study_degree }} {{ is_active }}</h1> -->
                <h1>{{ name }} - {{ study_degree }} </h1>
            </div>        
        </div>
    </a>
           
</div>