<H1>Lista rodzajów zajęć przemiotu</H1>
{% if subjects %}
    {% for subject in subjects %}
        <a href="{% url 'polytechnic:fieldsAll' %}" >{{ subject.idFielOfStudy.name }} : {{ subject.name }} : {{ subject.description }} </a>
    {% endfor %}
{% else %}
    <p>No fields are available.</p>
{% endif %}
{% if classes %}
<ul>
{% for clas in classes %}
    <li><a href="{% url 'polytechnic:clasTests'  clas.id %}" >{{ clas.idTypeOfClasses.name }} : Semestr : {{ clas.numberSemester }} : {{ clas.description }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No fields are available.</p>
{% endif %}