<H1>Lista testów przemiotu</H1>
{% if classes %}
    {% for clas in classes %}
        <a href="{% url 'polytechnic:fieldsAll' %}" >{{ clas.id }} : {{ clas.idTypeOfClasses.name }} : Semestr : {{ clas.numberSemester }} : {{ clas.description }}</a>
    {% endfor %}
{% else %}
    <p>No fields are available.</p>
{% endif %}
{% if tests %}
<ul>
{% for test in tests %}
    <li><a href="{% url 'forum:questions' test.id %}" >{{ test.id }} : {{ test.idTypeOfClasses.idTypeOfClasses.name }} : Numer testu : {{ test.numberTest }} : {{ test.idTypeOfTest.name }} : {{ test.description }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No fields are available.</p>
{% endif %}