<H1>Usuń kierunek</H1>
<!-- {% if fields %}
    {% for field in fields %}
        <a href="{% url 'polytechnic:fieldsAll' %}" >{{ field.idDegreeOfStudy.name }} : {{ field.name }} : {{ field.id }} : Deleted : {{ field.deleted }} </a>
    {% endfor %}
{% else %}
    <p>No fields are available.</p>
{% endif %} -->