<H1>Lista przedmiotów</H1>
{% if fields %}
    {% for field in fields %}
        <a href="{% url 'polytechnic:fieldsAll' %}" >{{ field.idDegreeOfStudy.name }} : {{ field.name }} </a>
    {% endfor %}
{% else %}
    <p>No fields are available.</p>
{% endif %}
{% if subjects %}
<ul>
{% for subject in subjects %}
    <li><a href="{% url 'polytechnic:clasSubjects' subject.id %}" >{{ subject.idFielOfStudy.name }} : {{ subject.name }} : {{ subject.description }} </a></li>
{% endfor %}
</ul>
{% else %}
<p>No fields are available.</p>
{% endif %}