<H1>Usuń kierunek</H1>
{{ degrees }}
<form action="{% url 'polytechnic:fieldsEdit' fields.id %}" method='post' novalidate>
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ fields.name }}">
    <input type="submit" value="OK">
</form>