<H1>Lista kierunków</H1>
{% if db_object %}
    <ul>
    {% for field in db_object %}
        <li><a href="{% url 'polytechnic:fieldSubjects' field.id %}" >{{ field.idDegreeOfStudy.name }} : {{ field.name }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No fields are available.</p>
{% endif %}
