<div class="layout-box">
    
    <div class="top-bar">
        <h1 (click)="toMain()">Indeks.pl</h1>
        <!-- <div class="login-button" type="button" (click)="loginRedirect()"><h2>Logowanie</h2></div> -->
    </div>

    <div class="nav-content-container">

        <div class="nav-bar" *ngIf="isToggled">
            <div class="nav-title-bar">AEI</div>
            <div class="nav-button" type="button" (click)="redirect('')"><h2>Strona główna</h2></div>
            <div class="nav-button" type="button" (click)="redirect('fieldsofstudy')"><h2>Kierunki</h2></div>
            <div class="nav-button" type="button" (click)="redirect('topiclist')"><h2>Notatki</h2></div>

        </div>
    
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>

        



        
        
    </div>

    
    
    


</div>