@import '../../../main-styles.scss';

.layout-box {
    display: flex;
    flex-direction: column;
    // height: 100%;

    overflow: hidden;

    .nav-content-container{
        display: flex;
        // flex-direction: row;
        align-items: left;
        justify-content: center;
        height: 100vh;

        .nav-bar {
            background-color: darken($color: $light, $amount: 4%);
            // @media(min-width: 1000px){
            //     margin-right: -210px;
            // }
            

            box-shadow: 2px 2px 2px 2px rgba(black, 0.068);
            width: auto;
            // background: red;
            display: flex;
            flex-direction: column;


        }
    
        .page-content {
            // background: yellow;
            // margin-left: -200px;
            flex-grow: 1;
            overflow-y: scroll;
            }


        .logo-bar{
            box-shadow: 2px 2px 2px 2px rgba(black, 0.068);
            width: auto;
            // background: red;
            display: flex;
            flex-direction: column;

        }
    }

    
}

.nav-title-bar{

    border-radius: 0px 5px 20px 0px;
    padding: 10px;

    text-align: center;
    color: white;
    font-size: 24px;

    background-color: #333;
}

.nav-button{
    margin: 5px;

    cursor: pointer;
    

    border-radius: 25px;

    height: 50px;
    width: 200px;

    left: 12px;
    background-color: darken($color: $warm-green, $amount: 5%);

    

    h2{
        position: relative;
        text-align: center;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
        font-size: 24px;
    }

    &:hover {
        cursor: pointer;
        background-color: darken($color: $light-green, $amount: 5%);
        // box-shadow: 0px 0px 0px 4px rgba(black, 0.068);
        
        opacity: 1;

        transition-delay: 0.15s;

        transform: scale(1);
    
    }       
    
    
}



.top-bar {
    width: 100%;
    height: 68px;
    background: linear-gradient(to right, $light-green, $dark-green);

    box-shadow: 0px 0px 10px 0px (black, 0.2);

    display: flex;
    flex-shrink: 0;  // prevent top bar from shrinking

    // center heading (child element)
    justify-content: center;
    align-items: center;

    h1{
        color: white;
        font-size: 32px;
        cursor: pointer;
    }

    .menu-button {
        position: absolute;

        border-radius: 35px;
    
        // top: 12px;
    
        left: 12px;
    
        height: 60px;
        width: 60px;
        transform: scale(0.8);
        transition: transform 0.2s ease-out;
    
        background-color: transparent;
        background-image: url('../../../assets/menu.svg');
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            cursor: pointer;

            transition-delay: 0.2s;

            transform: scale(1);
        
        }

        &:active{
            background-color: darken($color: $light-green, $amount: 10%);
        }
    
    }

    .login-button{

        position: absolute;
        cursor: pointer;

        border-radius: 25px;

        height: 50px;
        width: 200px;

        right: 12px;
        background-color: darken($color: $light-green, $amount: 10%);

        

        h2{
            position: relative;
            text-align: center;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            color: white;
            font-size: 24px;
        }

        &:hover {
            cursor: pointer;
            background-color: darken($color: $light-green, $amount: 5%);
            // box-shadow: 0px 0px 0px 4px rgba(black, 0.068);       
        }       
        
        
    }

}

