<div #container class="topic-box-container">
    <a [routerLink]="link_box">
        <div class="topic-box-content">
            <h1 class="topic-box-title">{{title}}</h1>
    
            <div #bodyText class="topic-box-body">
                <p>{{ body }}</p>
                <div #fadeout class="fade-out-overflow"></div>
            </div>        
        </div>
    </a>
        
    
        <div class="x-button" (click)="DeleteTopicClick()"></div>
    
    </div>
