@import '../../../../main-styles.scss';

.topic-box-container {
    position: relative;

    background: white;

    border-radius: 5px;

    box-shadow: 0px 2px 15px 2px rgba(black, 0.068);
    transition: box-shadow 0.2s ease-out;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 4px rgba(black, 0.068);

        .x-button{
            opacity: 1;

            transition-delay: 0.3s;

            transform: scale(1);
        }
    }

    .topic-box-content{
        padding: 25px;

        .topic-box-title{
            font-size: 22px;
            font-weight: bold;
            color: $warm-green;
        }

        .topic-box-body{
            position: relative;

            color:#555;
            
            //max height before fadeout text
            max-height: 80px;
            overflow: hidden;

            .fade-out-overflow{
                position: absolute;
                
                //pointer-events: none;

                bottom: 0;

                height: 50%;
                width: 100%;
                background: linear-gradient(to bottom, rgba(white, 0) 0%, rgba(white, 0.8) 50%, white 100%);

            }
        }
    }
}

.x-button {
    position: absolute;

    //12 px from top
    top: 12px;

    right: 12px;

    height: 34px;
    width: 34px;

    background-color: $light-red;
    background-image: url('../../../../assets/delete_icon.svg');
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;

    transition: opacity 0.2s ease-out, transform 0.2s ease-out;

    opacity: 0;
    transform: scale(0.35);

    &:hover{
        background-color: darken($light-red, $amount: 2%);
    }

    &:active{
        background-color: darken($color: $light-red, $amount: 4%);
    }
}


